

.button-container {
    margin-top: 2rem;
    z-index: 10; 
    animation: fadeUp 1.2s ease;
    width: fit-content;
    
    display: flex;
    align-items: center;
} 

.btn-book-now {
    color: var(--white);
    background-color: var(--primary-blue); 
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.btn-book-now:hover {
    transform: translateY(-3px); /* Lifts up slightly */
    background-color: var(--white);
    box-shadow: 0 8px 25px var(--secondary); /* Golden glow effect */
    color: var(--primary-blue);
}


.btn-book-now:active {
    transform: translateY(0);
}

.btn-logo-container {
    background-color: var(--white);
    border: 1px solid var(--primary-blue);
    position: relative;
    margin-left: 10px;
    height: 40px;
    min-height: 20px;
    width: 40px;
    min-width: 20px;
    border-radius: 20px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.btn-logo {
    width: 20px;
    height: 20px;
    z-index: 4;
    bottom: 0;
}

.button-container:hover .btn-logo{
    animation: driveOutRight 1s ease-in;
}
