.btn-contact-form-submit { /* Dispatch Request Button */
    background: var(--primary-blue);
    color: var(--white);
    padding: 20px;
    border: none;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition);
}

.btn-contact-form-submit:hover {
    background: var(--secondary);
    color: var(--primary-blue);
    transform: skewX(-5deg); /* Professional aggressive look */
}

