/* Mobile Adjustments */
@media (max-width: 768px) {
    .section-about-us { grid-template-columns: 1fr; }
    .landing-page-title { font-size: 2.5rem; }
    .input-group { grid-template-columns: 1fr; }
}

@media (max-width: 768px) {
    .gallery-wrapper {flex-direction: column;}
    .section-gallery img {max-width: 100%;}
}
@media (max-width: 768px) {
    .section-services .title-wrapper {grid-template-columns: 1fr;}
    .left-column {white-space: wrap; flex-direction: row;}
    .selector-box {flex-direction: column;}
    .nav-btn .subtitle {font-size: 1.2rem; padding: 0; align-items: center;}
    .nav-btn {justify-content: center;padding: 30px 20px;width: 50%;height: 80px;}
    .nav-btn.btn-interior {border-radius: 0 20px 0 0;}
    .nav-btn.btn-leaf {border-radius: 20px 0 0 0;}
    .content {border-radius: 0 0 20px 20px;}
}

@media (max-width: 992px) { 
    .landing-page-title-container {
        width: 80%;
    }
}

@media (max-width: 912px) {
    .pricing-container {flex-wrap: wrap;}
}

