/* Base Theme & Typography */
:root {
    --primary-blue: #005ED1;
    --secondary: #FFB254 ; /* Professional safety gold */
    --complimentary: #FF5D54;
    --accent: #989999;
    --title: #54a1ff;
    --white: #ffffff;
    --card-color: #3B639A;
    --transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    --background-image-opacity: 0.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.title {
    color: var(--title)
}
