.section-pricing {
    background: #232627;
    padding: 100px 5%;
    text-align: center;
}

.section-pricing .title{
    border:none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;

    
}

.pricing-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 3rem; 
}


.section-pricing .disclaimer-text {
    font-size: 0.95rem;
    margin-top: 15px;
    margin-bottom: 0;
    color: var(--complimentary);
}

.pricing-container .payment-number {
    color: var(--complimentary);
    font-size: 5rem;
    font-weight: 800;
    margin-top: 0;
    
}

.section-pricing .card-title {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    
    color: var(--secondary);

    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.section-pricing .card-desc{
    padding: 0 1.5rem 2rem 1.5rem; 
    
    font-size: 1rem;
    color: white;
    line-height: 1.6;
}

